<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Break your limitations</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Break your limitations</span>
            </a>
            <i class="fas fa-bars toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Break your limitations</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Role</h6>
                            <span class="badge border-success border-1 text-success">None</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="admin_login.html">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng nhập</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-heading">Menu</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="index.html">
                    <span>Home</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-heading">Games</li>
            <li class="nav-item">
                <a class="nav-link " href="game1.html">
                    <span>Game 1: Nhìn hình viết chữ</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="game2.html">
                    <span>Game 2: Xếp đâu cho đúng</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="game3.html">
                    <span>Game 3: Hãy chọn ý đúng</span>
                </a>
            </li>
        </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <section class="section main-content">
            <div class="row">
                <div class="col-12">
                    <div class="card info-card text-center">
                        <h1>Nhìn hình viết chữ</h1>
                        <h6 v-if="(showAns == 0)">Ghi nhớ chữ sau trong 15 giây</h6>
                        <button class="btn btn-primary" type="button" disabled="" v-if="!firstQuery">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading questions...
                        </button>
                        <div v-show="firstQuery">
                            <div class="d-grid justify-content-center pb-2" v-if="(showAns == 0)">
                                <div class="timer d-flex align-items-center text-center rounded">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="far fa-hourglass"></i>
                                    </div>
                                    <div class="ps-3" style="padding-right: 2rem!important;">
                                        <h6>{{ (timemax - timenow) }}s</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-6" v-if="(showAns != 2)">
                                    <img v-bind:src="question.img1" class="img-fluid fix-img" alt="">
                                    <h4>{{ question.title }}</h4>
                                </div>
                                <div class="col-md-12 col-lg-6" v-if="(showAns != 1)">
                                    <img v-bind:src="question.img2" class="img-fluid fix-img" alt="">
                                </div>
                                <div class="col-md-12 col-lg-6" v-if="(showAns != 0)">
                                    <canvas width="300" height="300" id="mainCanvas"></canvas>
                                </div>
                                <div class="row mt-2" v-if="(showAns == 2)">
                                    <div class="col-12 mt-2 d-grid">
                                        <button type="button" v-on:click="getRandomQuestion()"
                                            class="btn btn-outline-primary">Câu tiếp theo</button>
                                    </div>
                                </div>
                                <div class="row mt-2" v-if="(showAns == 1)">
                                    <div class="col-12 mt-2 d-grid">
                                        <button type="button" v-on:click="checkAns()"
                                            class="btn btn-outline-primary">Kiểm tra</button>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <button type="button" v-on:click="clearScreen()"
                                            class="btn btn-outline-danger">Bảng trắng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Name client</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Develop by <a href="">Tuấn Đạt</a>, <a href="">Hoàng Sơn</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- API firestore -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <style type="text/css">
        canvas {
            background: #FFF;
            border-radius: 5px;
            border-left: 1px solid #E0E0E0;
            border-right: 1px solid #E0E0E0;
            border-top: 1px solid #E0E0E0;
            box-shadow: 0 4px 0 0 #E0E0E0;
        }
    </style>
    <script src="configFirebase.js"></script>
    <script>
        //App
        var vm = new Vue({
            el: '#main',
            data: {
                question: {
                    img1: "",
                    img2: "",
                    title: ""
                },
                timemax: 15,
                timenow: 0,
                showAns: 0,
                questions: null,
                firstQuery: false
            },
            computed: {
                calWidthTime: function () {
                    return Math.floor(this.timenow / this.timemax * 100);
                }
            },
            methods: {
                countDownTimer: function () {
                    if (this.timenow < this.timemax) {
                        setTimeout(() => {
                            this.timenow += 1;
                            this.countDownTimer();
                        }, 1000);
                    } else {
                        this.showAns = 1;
                        //getRandomQuestion();
                    }
                },
                super_update: function () {
                    setTimeout(() => {
                        if (this.questions != null && this.firstQuery == false) {
                            this.firstQuery = true;
                            this.getRandomQuestion();
                        }
                        this.super_update();
                    }, 100);
                },
                getRandomQuestion: function () {
                    this.showAns = false;
                    this.timenow = 0;
                    var index = getRndInteger(0, this.questions.length - 1);
                    this.question = this.questions[index];
                    this.countDownTimer();
                },
                checkAns: function () {
                    if (this.showAns == 1) {
                        this.showAns = 2;
                    }
                },
                clearScreen: function () {
                    //Paint
                    var $canvas = $("canvas");
                    var context = $canvas[0].getContext("2d");
                    context.clearRect(0, 0, $canvas.width(), $canvas.height());
                },
                newCanvas: function () {
                    //Paint
                    var $canvas = $("canvas");
                    var context = $canvas[0].getContext("2d");
                    var lastEvent;
                    var mouseDown = false;
                    var colour = "black";

                    // On mouse events on the canvas
                    $canvas.mousedown(function (e) {
                        lastEvent = e;
                        mouseDown = true;
                    }).mousemove(function (e) {
                        // Draw lines
                        if (mouseDown) {
                            context.beginPath();
                            context.moveTo(lastEvent.offsetX, lastEvent.offsetY);
                            context.lineTo(e.offsetX, e.offsetY);
                            context.strokeStyle = colour;
                            context.lineWidth = 5;
                            context.lineCap = 'round';
                            context.stroke();
                            lastEvent = e;
                        }
                    }).mouseup(function () {
                        mouseDown = false;
                    }).mouseleave(function () {
                        $canvas.mouseup();
                    });
                }
            },
            mounted: function () {
                this.$nextTick(() => {

                });
            },
            updated: function () {
                if(this.showAns == 1){
                    this.newCanvas();
                }
            },
            created: function () {
                this.super_update();
            }
        });
        main_questions.get().then((querySnapshot) => {
            vm.$data.questions = querySnapshot.data()["questions01"];
        }).catch((error) => {
            console.log("Error getting documents: ", error);
        });
    </script>

</body>

</html>