<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Break your limitations</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Break your limitations</span>
            </a>
            <i class="fas fa-bars toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Break your limitations</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Role</h6>
                            <span class="badge border-success border-1 text-success">None</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng nhập</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-heading">Quản trị</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="dashboard.html">
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-heading">Games</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="game1.html">
                    <span>Game 1: Nhìn hình viết chữ</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="game2.html">
                    <span>Game 2: Xếp đâu cho đúng</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="game3.html">
                    <span>Game 3: Hãy chọn ý đúng</span>
                </a>
            </li>
        </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <section class="section main-content">
            <div class="row">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="card-title">
                                <h1>Hãy chọn ý đúng</h1>
                            </div>
                            <button class="btn btn-primary" type="button" disabled="" v-if="!firstQuery">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading questions...
                            </button>
                            <div class="box-content" v-if="firstQuery">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h5>Câu hỏi</h5>
                                        <div class="alert border-primary alert-dismissible fade show" role="alert" v-html="question">
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        v-bind:style="{width: calWidthTime+'%'}" v-bind:aria-valuenow="calWidthTime"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                -->
                                <div class="row mt-2">
                                    <div class="col-md-12 col-lg-6 d-grid mt-2" v-for="(item, index) in answers"
                                        v-bind:index="index" v-item:="item">
                                        <button type="button" v-on:click="checkAns(item.true_ans)" v-bind:class="{'btn': true, 'btn-outline-primary':(showAns == 0), 'btn-success':(showAns != 0 && item.true_ans), 'btn-danger':(showAns == 2 && !item.true_ans)}">{{ item.content }}</button>
                                    </div>
                                </div>
                                <div class="row mt-2" v-if="showAns">
                                    <div class="col-12 d-grid mt-2">
                                        <button type="button" v-on:click="getRandomQuestion()" class="btn btn-outline-primary">Câu tiếp theo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Name client</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Develop by <a href="">Tuấn Đạt</a>, <a href="">Hoàng Sơn</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <!-- markdown -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- API firestore -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        function getRndInteger(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        const firebaseConfig = {
            apiKey: "AIzaSyBFhoS866U8BDGEX5Hvhi0nXwPNTJgI4BI",
            authDomain: "break-your-limitations.firebaseapp.com",
            projectId: "break-your-limitations",
            storageBucket: "break-your-limitations.appspot.com",
            messagingSenderId: "622219681947",
            appId: "1:622219681947:web:9f028a12e1720a0fce263e",
            measurementId: "G-E49C8W1T0S"
        };
        firebase.initializeApp(firebaseConfig);
        

        var db = firebase.firestore();
        //U5Dbgs1dUW6iiyxb2y44
        var main_questions = db.collection("main-questions").doc("U5Dbgs1dUW6iiyxb2y44");
        var vm = new Vue({
            el: '#main',
            data: {
                question: "question loading...",
                timemax: 10,
                timenow: 0,
                answers: [
                    { content: "ans loading...", true_ans: false },
                    { content: "ans loading...", true_ans: true },
                ],
                btn_confi: ["btn-danger", "btn-success"],
                showAns: 0,
                questions: null,
                firstQuery: false
            },
            computed: {
                calWidthTime: function () {
                    return Math.floor(this.timenow / this.timemax * 100);
                }
            },
            methods: {
                countDownTimer: function () {
                    if (this.timenow < this.timemax) {
                        setTimeout(() => {
                            this.timenow += 1;
                            this.countDownTimer();
                        }, 1000);
                    } else {
                        getRandomQuestion();
                    }
                },
                super_update: function () {
                    setTimeout(() => {
                        if (this.questions != null && this.firstQuery == false) {
                            this.firstQuery = true;
                            this.getRandomQuestion();
                        }
                        this.super_update();
                    }, 100);
                },
                getRandomQuestion: function () {
                    this.showAns = false;
                    this.timenow = 0;
                    var index = getRndInteger(0, this.questions.length - 1);
                    this.question = marked.parse(this.questions[index].question);
                    this.answers = this.questions[index].ans;
                },
                checkAns: function (true_ans) {
                    if(this.showAns == 0){
                        this.showAns = 1;
                        if(true_ans) {
                            toastr.success('Correct!');
                        } else{
                            toastr.error('Incorrect!');
                            this.showAns = 2;
                        }
                    }
                }
            },
            created: function () {
                //this.countDownTimer();
                this.super_update();
            }
        });
        main_questions.get().then((querySnapshot) => {
            vm.$data.questions = querySnapshot.data()["questions03"];
        }).catch((error) => {
            console.log("Error getting documents: ", error);
        });
    </script>

</body>

</html>